@charset "utf-8";
/* CSS Document */

#header {
	position:absolute;
	width:1349px;
	height:220px;
	background-image:url(../Images/hesder.png);
	margin:0 auto;
	z-index:200;
}

#menu {
	position:absolute;
	margin-left:40px;
	margin-top:170px;
	width:1260px;
	height:160px;
	z-index:100;
	background-image:url(../Images/menu.png);}

#fotter {
	width:1349px;
	position:absolute;
	height:35px;
	margin-left:0px;
	margin-top:730px;
	background-image:url(../Images/fotter_control.png);}	

#body {
	width:761px;
	position:absolute;
	height:440px;
	margin-left:272px;
	margin-top:250px;
	background-image:url(../Images/body.png);}
	
#body2 {
	width:761px;
	position:absolute;
	height:320px;
	margin-left:272px;
	margin-top:390px;
	overflow:auto;
	background-color:#CCC;
	border:#030 2px groove;
	border-radius:8px;
	left: -22px;
}


#button1 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:128px;
	margin-left:430px;
	background-image:url(../Images/button1.png);}
	
#button1:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:128px;
	margin-left:430px;
	background-image:url(../Images/button1_hover.png);}
	
#button2 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:173px;
	margin-left:430px;
	background-image:url(../Images/button1.png);}
	
#button2:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:173px;
	margin-left:430px;
	background-image:url(../Images/button1_hover.png);}
	
#button3 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:219px;
	margin-left:430px;
	background-image:url(../Images/button1.png);}
	
#button3:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:219px;
	margin-left:430px;
	background-image:url(../Images/button1_hover.png);}
	
#button4 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:264px;
	margin-left:430px;
	background-image:url(../Images/button1.png);}
	
#button4:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:264px;
	margin-left:430px;
	background-image:url(../Images/button1_hover.png);}
	
#button5 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:309px;
	margin-left:430px;
	background-image:url(../Images/button1.png);}
	
#button5:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:309px;
	margin-left:430px;
	background-image:url(../Images/button1_hover.png);}
	
#button6 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:129px;
	margin-left:74px;
	background-image:url(../Images/button1.png);}
	
#button6:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:129px;
	margin-left:74px;
	background-image:url(../Images/button1_hover.png);}
	
#button7 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:174px;
	margin-left:74px;
	background-image:url(../Images/button1.png);}
	
#button7:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:174px;
	margin-left:74px;
	background-image:url(../Images/button1_hover.png);}
	
#button8 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:219px;
	margin-left:74px;
	background-image:url(../Images/button1.png);}
	
#button8:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:219px;
	margin-left:74px;
	background-image:url(../Images/button1_hover.png);}
	
#button9 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:264px;
	margin-left:74px;
	background-image:url(../Images/button1.png);}
	
#button9:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:264px;
	margin-left:74px;
	background-image:url(../Images/button1_hover.png);}
	
#button10 {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:309px;
	margin-left:74px;
	background-image:url(../Images/button1.png);}
	
#button10:hover {
	position:absolute;
	width:60px;
	height:40px;
	margin-top:309px;
	margin-left:74px;
	background-image:url(../Images/button1_hover.png);}
	
#control_word {
	position:absolute;
	margin-left:760px;
	margin-top:-10px;
	width:275px;
	height:60px;
	background-image: url(../Images/control_word.png);}
	
#nav1 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:50px;
	background-image:url(../Images/control_button.png);}

#nav1:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:50px;
	background-image:url(../Images/control_button_hover.png);}

#nav2 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:104px;
	background-image:url(../Images/add_or_remove_student.png);}

#nav2:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:104px;
	background-image:url(../Images/add_or_remove_student_hover.png);}


#nav3 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:50px;
	background-image:url(../Images/add_picture.png);}

#nav3:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:50px;
	background-image:url(../Images/add_picture_hover.png);}


#nav4 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/remove_picture.png);}

#nav4:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/remove_picture_hover.png);}


#nav5 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:50px;
	background-image:url(../Images/add_news.png);}

#nav5:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:50px;
	background-image:url(../Images/add_news_hover.png);}


#nav6 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/remove_news.png);}

#nav6:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:103px;
	background-image:url(../Images/remove_news_hover.png);}


#nav7 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:50px;
	background-image:url(../Images/add_level_student.png);}

#nav7:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:50px;
	background-image:url(../Images/add_level_student_hover.png);}


#nav8 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/delete_or_remove_level_student.png);}

#nav8:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/delete_or_remove_level_student_hover.png);}


#nav9 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:50px;
	background-image:url(../Images/add_payment.png);}

#nav9:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:50px;
	background-image:url(../Images/add_payment_hover.png)}


#nav10 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/delete_or_remove_payment.png);}


#nav10:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/delete_or_remove_payment_hover.png);}

#nav11 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/add_students.png);}


#nav11:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/add_students_hover.png);}

#nav12 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:50px;
	z-index:350;
	background-image:url(../Images/add_picture.png);}


#nav12:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:50px;
	z-index:350;
	background-image:url(../Images/add_picture_hover.png);}

#nav13 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:50px;
	background-image:url(../Images/add_students.png);}

#nav13:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:50px;
	background-image:url(../Images/add_students_hover.png);}

#nav14 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/add_picture.png);}

#nav14:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/add_picture_hover.png);}

#nav15 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:104px;
	background-image:url(../Images/add_or_remove_student.png);}

#nav15:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:1004px;
	margin-top:104px;
	background-image:url(../Images/add_or_remove_student_hover.png);}

#nav16 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/remove_picture.png);}

#nav16:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/remove_picture_hover.png);}

#nav17 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/add_picture.png);}

#nav17:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:753px;
	margin-top:103px;
	background-image:url(../Images/add_picture_hover.png);}

#nav18 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:50px;
	background-image:url(../Images/remove_picture.png);}

#nav18:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:50px;
	background-image:url(../Images/remove_picture_hover.png);}

#nav19 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/add_news.png);}

#nav19:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:503px;
	margin-top:103px;
	background-image:url(../Images/add_news_hover.png);}

#nav20 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:50px;
	background-image:url(../Images/remove_news.png);}

#nav20:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:50px;
	background-image:url(../Images/remove_news_hover.png);}

#nav21 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/add_level_student.png);}

#nav21:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:253px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/add_level_student_hover.png);}

#nav22 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:50px;
	background-image:url(../Images/delete_or_remove_level_student.png);}

#nav22:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:50px;
	background-image:url(../Images/delete_or_remove_level_student.png);}


#nav23 {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/add_payment.png);}


#nav23:hover {
	position:absolute;
	width:248px;
	height:52px;
	margin-left:5px;
	margin-top:103px;
	z-index:350;
	background-image:url(../Images/add_payment_hover.png);}

#add_students_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/add_students_word.png);}
	
#remove_students_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/remove_students_word.png);}
	
#add_pictures_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/add_pictures_word.png);}

#remove_pictures_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/remove_pictures_word.png);}

#add_news_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/add_news_word.png);}

#remove_news_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/remove_news_word.png);}

#add_level_students_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/add_levelstudents_word.png);}

#remove_level_students_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/remove_levelstudents_word.png);}

#add_payment_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/add_payment_word.png);}

#remove_payment_word {
	position:absolute;
	margin-left:1050px;
	margin-top:350px;
	width:275px;
	height:60px;
	background-image:url(../Images/remove_payment_word.png);}

#submit2 {
	position:absolute;
	width:90px;
	height:40px;
	margin-left:330px;
	margin-top:74px;
	background-image:url(../Images/submit2_button.png);}

#submit2:hover {
	position:absolute;
	width:90px;
	height:40px;
	margin-left:330px;
	margin-top:74px;
	background-image:url(../Images/submit2_button_hover.png);}
